@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   background-color: #FFFCF8 !important;
   font-family: 'Montserrat'
}

h1{
  font-family: 'BlackMango-regular'
}

h2{
  font-family: 'BlackMango-bold'
}

@layer components {
   .max-w {
     @apply max-w-[1500px] my-0 mx-auto;
   }
 }