@tailwind base;
@tailwind components;
@tailwind utilities;

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
   background-color: #FFFCF8 !important;
}

@layer components {
   .max-w {
     @apply max-w-[1800px] my-0 mx-auto;
   }
 }

 .animate-slider{
  animation: marquee 30s linear infinite;

}


 @keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.entrance_animation {
  animation: setEntranceAnimation 1000ms cubic-bezier(0.5, 0, 0, 1)
}
.entrance_animation_2 {
  animation: setEntranceAnimation 2000ms cubic-bezier(0.5, 0, 0, 1)
}
.entrance_animation_3 {
  animation: setEntranceAnimation 3000ms cubic-bezier(0.5, 0, 0, 1)
}
.entrance_opacity_3{
  animation: setEntranceOpacity 3000ms cubic-bezier(0.5, 0, 0, 1)
}
.entrance_opacity_4{
  animation: setEntranceOpacity 4000ms cubic-bezier(0.5, 0, 0, 1)
}

@keyframes setEntranceOpacity {
  0% {
    opacity: 0;  }
  100% {
    opacity: 1;
  }
}
@keyframes setEntranceAnimation {
  0% {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}

